.gridItem {
    position: relative;
  }
  
  .gridItem .textBlock{
    position: absolute;
    bottom: 40px;
    left: 15px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 310px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }

  .gridItem img{
    height: 250px;
    width: 350px;
    margin: 15px;

  }



  /******************/

  /* portfolio page */

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }